// Imported Files
@font-face {
  font-family: "Reader";
  src: url("../fonts/reader-regular-trial.otf") format("opentype");
}
@font-face {
  font-family: "Reader-Black";
  src: url("../fonts/reader-black-trial.otf") format("opentype");
}
@font-face {
  font-family: "Reader-Bold";
  src: url("../fonts/reader-bold-trial.otf") format("opentype");
}
@font-face {
  font-family: "Reader-Medium";
  src: url("../fonts/reader-medium-trial.otf") format("opentype");
}
