// Colors
$white: #ffffff;
$lightGrey: #f0f0f0;
$lightGrey2: #a7a7a7;
$black: #000000;
$red: #c10000;
$redOpacity: #c1000014;
$green: #008000;
$greenOpacity: #00800014;

// Display widths
$mobileExtraSmall: 375px;
$mobileSmall: 425px;
$mobile: 500px;
$mobileLarge: 600px;
$tabletSmall: 700px;
$tablet: 800px;
$displaySmall: 1000px;
$displayLarge: 1440px;
